In [86]:
import pandas as pd

In [87]:
df = pd.read_csv('./data/data.csv')
print(df)

      Id  Chinese  Math  English
0    1.0     66.0    70       57
1    2.0     67.0    71       59
2    3.0     68.0    72       60
3    4.0     70.0    73       62
4    5.0     71.0    74       63
5    6.0     72.0    75       64
6    7.0     73.0    75       65
7    8.0     73.0    76       67
8    9.0     74.0    77       68
9   10.0     75.0    77       69
10  11.0     76.0    78       70
11  12.0     76.0    78       71
12  13.0     77.0    79       72
13  14.0     78.0    79       73
14  15.0     78.0    79       74
15  16.0     78.0    79       75
16  17.0     79.0    79       75
17  18.0     79.0    79       76
18  19.0     79.0    79       77
19  20.0     79.0    79       77
20  21.0     79.0    79       78
21   NaN     79.0    79       78
22  23.0     79.0    78       79
23  24.0     79.0    78       79
24  25.0     79.0    77       79
25   NaN     79.0    77       79
26  27.0     78.0    76       79
27  28.0     78.0    76       79
28  29.0     77.0    75       79
29  30.0      NaN    74       79
30  31.0     76.0    73       79
31  32.0     75.0    72       79
32  33.0     74.0    71       78
33   NaN     73.0    70       78
34  35.0     73.0    69       77
35  36.0     72.0    68       77
36  37.0     71.0    67       76
37  38.0     70.0    66       76
38  39.0     68.0    65       75
39  40.0     67.0    63       74
40   NaN     67.0    63       74
41  42.0     65.0    61       72
42  43.0     64.0    59       71
43  44.0     62.0    58       70
44  45.0     62.0    58       70
45  46.0     60.0    55       68
46   NaN     58.0    54       67
47  48.0     57.0    52       66
48  49.0     56.0    51       65
49  50.0     54.0    49       63

In [88]:
print(df['Id'].interpolate())

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
30    31.0
31    32.0
32    33.0
33    34.0
34    35.0
35    36.0
36    37.0
37    38.0
38    39.0
39    40.0
40    41.0
41    42.0
42    43.0
43    44.0
44    45.0
45    46.0
46    47.0
47    48.0
48    49.0
49    50.0
Name: Id, dtype: float64

In [89]:
print(df)

      Id  Chinese  Math  English
0    1.0     66.0    70       57
1    2.0     67.0    71       59
2    3.0     68.0    72       60
3    4.0     70.0    73       62
4    5.0     71.0    74       63
5    6.0     72.0    75       64
6    7.0     73.0    75       65
7    8.0     73.0    76       67
8    9.0     74.0    77       68
9   10.0     75.0    77       69
10  11.0     76.0    78       70
11  12.0     76.0    78       71
12  13.0     77.0    79       72
13  14.0     78.0    79       73
14  15.0     78.0    79       74
15  16.0     78.0    79       75
16  17.0     79.0    79       75
17  18.0     79.0    79       76
18  19.0     79.0    79       77
19  20.0     79.0    79       77
20  21.0     79.0    79       78
21   NaN     79.0    79       78
22  23.0     79.0    78       79
23  24.0     79.0    78       79
24  25.0     79.0    77       79
25   NaN     79.0    77       79
26  27.0     78.0    76       79
27  28.0     78.0    76       79
28  29.0     77.0    75       79
29  30.0      NaN    74       79
30  31.0     76.0    73       79
31  32.0     75.0    72       79
32  33.0     74.0    71       78
33   NaN     73.0    70       78
34  35.0     73.0    69       77
35  36.0     72.0    68       77
36  37.0     71.0    67       76
37  38.0     70.0    66       76
38  39.0     68.0    65       75
39  40.0     67.0    63       74
40   NaN     67.0    63       74
41  42.0     65.0    61       72
42  43.0     64.0    59       71
43  44.0     62.0    58       70
44  45.0     62.0    58       70
45  46.0     60.0    55       68
46   NaN     58.0    54       67
47  48.0     57.0    52       66
48  49.0     56.0    51       65
49  50.0     54.0    49       63

In [90]:
df['Id'] = df['Id'].interpolate()
print(df['Id'])

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
30    31.0
31    32.0
32    33.0
33    34.0
34    35.0
35    36.0
36    37.0
37    38.0
38    39.0
39    40.0
40    41.0
41    42.0
42    43.0
43    44.0
44    45.0
45    46.0
46    47.0
47    48.0
48    49.0
49    50.0
Name: Id, dtype: float64

In [91]:
df.drop_duplicates()

      Id  Chinese  Math  English
0    1.0     66.0    70       57
1    2.0     67.0    71       59
2    3.0     68.0    72       60
3    4.0     70.0    73       62
4    5.0     71.0    74       63
5    6.0     72.0    75       64
6    7.0     73.0    75       65
7    8.0     73.0    76       67
8    9.0     74.0    77       68
9   10.0     75.0    77       69
10  11.0     76.0    78       70
11  12.0     76.0    78       71
12  13.0     77.0    79       72
13  14.0     78.0    79       73
14  15.0     78.0    79       74
15  16.0     78.0    79       75
16  17.0     79.0    79       75
17  18.0     79.0    79       76
18  19.0     79.0    79       77
19  20.0     79.0    79       77
20  21.0     79.0    79       78
21  22.0     79.0    79       78
22  23.0     79.0    78       79
23  24.0     79.0    78       79
24  25.0     79.0    77       79
25  26.0     79.0    77       79
26  27.0     78.0    76       79
27  28.0     78.0    76       79
28  29.0     77.0    75       79
29  30.0      NaN    74       79
30  31.0     76.0    73       79
31  32.0     75.0    72       79
32  33.0     74.0    71       78
33  34.0     73.0    70       78
34  35.0     73.0    69       77
35  36.0     72.0    68       77
36  37.0     71.0    67       76
37  38.0     70.0    66       76
38  39.0     68.0    65       75
39  40.0     67.0    63       74
40  41.0     67.0    63       74
41  42.0     65.0    61       72
42  43.0     64.0    59       71
43  44.0     62.0    58       70
44  45.0     62.0    58       70
45  46.0     60.0    55       68
46  47.0     58.0    54       67
47  48.0     57.0    52       66
48  49.0     56.0    51       65
49  50.0     54.0    49       63

In [92]:
print(df.mean())

Id         25.500000
Chinese    71.816327
Math       70.820000
English    72.340000
dtype: float64

In [93]:
df2 = pd.DataFrame(df.mean())
df = df.append(df2.T)

In [94]:
print(df)

      Id    Chinese   Math  English
0    1.0  66.000000  70.00    57.00
1    2.0  67.000000  71.00    59.00
2    3.0  68.000000  72.00    60.00
3    4.0  70.000000  73.00    62.00
4    5.0  71.000000  74.00    63.00
5    6.0  72.000000  75.00    64.00
6    7.0  73.000000  75.00    65.00
7    8.0  73.000000  76.00    67.00
8    9.0  74.000000  77.00    68.00
9   10.0  75.000000  77.00    69.00
10  11.0  76.000000  78.00    70.00
11  12.0  76.000000  78.00    71.00
12  13.0  77.000000  79.00    72.00
13  14.0  78.000000  79.00    73.00
14  15.0  78.000000  79.00    74.00
15  16.0  78.000000  79.00    75.00
16  17.0  79.000000  79.00    75.00
17  18.0  79.000000  79.00    76.00
18  19.0  79.000000  79.00    77.00
19  20.0  79.000000  79.00    77.00
20  21.0  79.000000  79.00    78.00
21  22.0  79.000000  79.00    78.00
22  23.0  79.000000  78.00    79.00
23  24.0  79.000000  78.00    79.00
24  25.0  79.000000  77.00    79.00
25  26.0  79.000000  77.00    79.00
26  27.0  78.000000  76.00    79.00
27  28.0  78.000000  76.00    79.00
28  29.0  77.000000  75.00    79.00
29  30.0        NaN  74.00    79.00
30  31.0  76.000000  73.00    79.00
31  32.0  75.000000  72.00    79.00
32  33.0  74.000000  71.00    78.00
33  34.0  73.000000  70.00    78.00
34  35.0  73.000000  69.00    77.00
35  36.0  72.000000  68.00    77.00
36  37.0  71.000000  67.00    76.00
37  38.0  70.000000  66.00    76.00
38  39.0  68.000000  65.00    75.00
39  40.0  67.000000  63.00    74.00
40  41.0  67.000000  63.00    74.00
41  42.0  65.000000  61.00    72.00
42  43.0  64.000000  59.00    71.00
43  44.0  62.000000  58.00    70.00
44  45.0  62.000000  58.00    70.00
45  46.0  60.000000  55.00    68.00
46  47.0  58.000000  54.00    67.00
47  48.0  57.000000  52.00    66.00
48  49.0  56.000000  51.00    65.00
49  50.0  54.000000  49.00    63.00
0   25.5  71.816327  70.82    72.34

In [95]:
print(df2.max())

0    72.34
dtype: float64

In [96]:
df.drop(df.columns[-1])

      Id    Chinese   Math  English
0    1.0  66.000000  70.00    57.00
1    2.0  67.000000  71.00    59.00
2    3.0  68.000000  72.00    60.00
3    4.0  70.000000  73.00    62.00
4    5.0  71.000000  74.00    63.00
5    6.0  72.000000  75.00    64.00
6    7.0  73.000000  75.00    65.00
7    8.0  73.000000  76.00    67.00
8    9.0  74.000000  77.00    68.00
9   10.0  75.000000  77.00    69.00
10  11.0  76.000000  78.00    70.00
11  12.0  76.000000  78.00    71.00
12  13.0  77.000000  79.00    72.00
13  14.0  78.000000  79.00    73.00
14  15.0  78.000000  79.00    74.00
15  16.0  78.000000  79.00    75.00
16  17.0  79.000000  79.00    75.00
17  18.0  79.000000  79.00    76.00
18  19.0  79.000000  79.00    77.00
19  20.0  79.000000  79.00    77.00
20  21.0  79.000000  79.00    78.00
21  22.0  79.000000  79.00    78.00
22  23.0  79.000000  78.00    79.00
23  24.0  79.000000  78.00    79.00
24  25.0  79.000000  77.00    79.00
25  26.0  79.000000  77.00    79.00
26  27.0  78.000000  76.00    79.00
27  28.0  78.000000  76.00    79.00
28  29.0  77.000000  75.00    79.00
29  30.0        NaN  74.00    79.00
30  31.0  76.000000  73.00    79.00
31  32.0  75.000000  72.00    79.00
32  33.0  74.000000  71.00    78.00
33  34.0  73.000000  70.00    78.00
34  35.0  73.000000  69.00    77.00
35  36.0  72.000000  68.00    77.00
36  37.0  71.000000  67.00    76.00
37  38.0  70.000000  66.00    76.00
38  39.0  68.000000  65.00    75.00
39  40.0  67.000000  63.00    74.00
40  41.0  67.000000  63.00    74.00
41  42.0  65.000000  61.00    72.00
42  43.0  64.000000  59.00    71.00
43  44.0  62.000000  58.00    70.00
44  45.0  62.000000  58.00    70.00
45  46.0  60.000000  55.00    68.00
46  47.0  58.000000  54.00    67.00
47  48.0  57.000000  52.00    66.00
48  49.0  56.000000  51.00    65.00
49  50.0  54.000000  49.00    63.00
0   25.5  71.816327  70.82    72.34

In [97]:
df.index = range(len(df))
# print(df)
df3 = df.drop(df.index[-1])
# print(df3)
num = len(df3[(df.Chinese >= 60)&(df.Math >= 60)&(df.English >= 60)])
print(num)

39

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [98]:
df.style.format("{:.2%}")
print(df)

      Id    Chinese   Math  English
0    1.0  66.000000  70.00    57.00
1    2.0  67.000000  71.00    59.00
2    3.0  68.000000  72.00    60.00
3    4.0  70.000000  73.00    62.00
4    5.0  71.000000  74.00    63.00
5    6.0  72.000000  75.00    64.00
6    7.0  73.000000  75.00    65.00
7    8.0  73.000000  76.00    67.00
8    9.0  74.000000  77.00    68.00
9   10.0  75.000000  77.00    69.00
10  11.0  76.000000  78.00    70.00
11  12.0  76.000000  78.00    71.00
12  13.0  77.000000  79.00    72.00
13  14.0  78.000000  79.00    73.00
14  15.0  78.000000  79.00    74.00
15  16.0  78.000000  79.00    75.00
16  17.0  79.000000  79.00    75.00
17  18.0  79.000000  79.00    76.00
18  19.0  79.000000  79.00    77.00
19  20.0  79.000000  79.00    77.00
20  21.0  79.000000  79.00    78.00
21  22.0  79.000000  79.00    78.00
22  23.0  79.000000  78.00    79.00
23  24.0  79.000000  78.00    79.00
24  25.0  79.000000  77.00    79.00
25  26.0  79.000000  77.00    79.00
26  27.0  78.000000  76.00    79.00
27  28.0  78.000000  76.00    79.00
28  29.0  77.000000  75.00    79.00
29  30.0        NaN  74.00    79.00
30  31.0  76.000000  73.00    79.00
31  32.0  75.000000  72.00    79.00
32  33.0  74.000000  71.00    78.00
33  34.0  73.000000  70.00    78.00
34  35.0  73.000000  69.00    77.00
35  36.0  72.000000  68.00    77.00
36  37.0  71.000000  67.00    76.00
37  38.0  70.000000  66.00    76.00
38  39.0  68.000000  65.00    75.00
39  40.0  67.000000  63.00    74.00
40  41.0  67.000000  63.00    74.00
41  42.0  65.000000  61.00    72.00
42  43.0  64.000000  59.00    71.00
43  44.0  62.000000  58.00    70.00
44  45.0  62.000000  58.00    70.00
45  46.0  60.000000  55.00    68.00
46  47.0  58.000000  54.00    67.00
47  48.0  57.000000  52.00    66.00
48  49.0  56.000000  51.00    65.00
49  50.0  54.000000  49.00    63.00
50  25.5  71.816327  70.82    72.34

In [105]:
html = df.round(2).style

html